# This workflow will do a clean installation of node dependencies, cache/restore them, build the source code and run tests across different versions of node
# For more information see: https://docs.github.com/en/actions/automating-builds-and-tests/building-and-testing-nodejs

name: python cdk deploy

on:
  push:
    branches: [ "main" ]

jobs:
  build:

    runs-on: ubuntu-latest

    strategy:
      matrix:
        node-version: [24.4.1]
        # See supported Node.js release schedule at https://nodejs.org/en/about/releases/

    steps:
    - uses: actions/checkout@v3
      with:
        submodules: true

    - name: setup node
      uses: actions/setup-node@v4
      with:
        node-version: ${{ matrix.node-version }}
        cache: npm
        cache-dependency-path: ./web/package-lock.json

    - name: install web app dependencies
      working-directory: ./web
      run: npm ci

    - name: build web app
      working-directory: ./web
      run: npm run build

    - name: install AWS cdk
      run: sudo npm i -g aws-cdk

    - name: install deployment dependencies
      working-directory: ./py-webdeployment
      run: pip3 install -r requirements.txt

    - name: cdk synth
      working-directory: ./py-webdeployment
      run: cdk synth

    - name: cdk deploy
      working-directory: ./py-webdeployment
      env:
        AWS_ACCESS_KEY_ID: ${{ secrets.AWS_ACCESS_KEY_ID }}
        AWS_SECRET_ACCESS_KEY: ${{ secrets.AWS_SECRET_ACCESS_KEY }}
        AWS_DEFAULT_REGION: ${{ secrets.AWS_REGION }}
      run: cdk deploy
